.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.oswald-regular {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  letter-spacing: 2px !important;
}

.oswald-bold {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: 3px !important;
}

.quicksand-regular {
  font-family: "Quicksand", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  letter-spacing: 2px !important;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: 2px !important;
}

.point-of-interest {
  position: fixed;
  left: 50vw;
  top: 50vh;
}

.point-of-interest .label {
  transition: transform 0.3s;
  transform: scale(0, 0) translate(-50%, -50%);
}

.point-of-interest .text {
  transition: opacity 0.5s;
}


.point-of-interest:hover .text {
  opacity: 1;
}

.point-of-interest.visible .label {
  transform: scale(1, 1) translate(-50%, -50%);
}